body {
    background-color: #ffffff;
    margin: 0px;
}

#main_h1 {
    color: rgb(0, 0, 0);
    text-align: center;
}

#main_h3 {
    color: rgba(46, 0, 252, 0.986);
}

#second_h3 {
    color: rgb(51, 19, 228);
}

#main_h4 {
    color: rgb(21, 175, 175);
}

.inxNavbar ul {
    list-style-type: none;
    background-color:rgb(148, 145, 151);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.inxNavbar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.inxNavbar a:hover {
    background-color: rgb(70, 69, 70);
}

.inxNavbar li {
    float: right;
}

main {
    text-align: center;
}

.footerNavbar ul {
    list-style-type: none;
    background-color:rgb(148, 145, 151);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.footerNavbar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.footerNavbar a:hover {
    background-color: rgb(70, 69, 70);
}

.footerNavbar li {
    float: right;
}